.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc8eac;
    width: 100%;
    height: 75px;
    z-index: 2;
    font-family:Verdana, Geneva, 
    Tahoma, sans-serif;
    font-weight: bold;
    font-family:LovelyBakery;
}

.nav {
    display: flex;
    list-style: none;
    font-size: 19px;
}

.fun{
    display: flex;
    list-style: none;
}

#entertainment img{
    width: 250px;
}

#hotels img, #shopping img, #food img{
    width: 600px;
}

#view img,#lmark img{
    width: 700px;
}

.logo {
    display: flex; 
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 2%;
    font-style: italic;
}

.logo img {
    width: 65px; 
    height: auto; 
    margin-left: 5px;
    margin-bottom: 3%;
}

a {
    margin: 7px;
    color: #fdfff5  ;
    text-shadow: 2px 2px 1px #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.nav a:hover {
    color: #000000;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background-image:url('../images/finals_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%, 100%;
    backdrop-filter: blur(5px);
}
@font-face {
    font-family: LovelyBakery;
    src: url(../font/Lovely-Bakery/LovelyBakery-K7mWZ.ttf);
}
@font-face {
    font-family: KingCake;
    src: url(../font/King-Cake/KingCake.otf);
}
@font-face {
    font-family: AreaNeu;
    src: url(../font/AreaNeu/AreaNeu-gxaVP.ttf);
}
.flex-container1 {
    display: flex;
}

.flex-child1 {
    flex: 2;
    margin-left:20vh;
    margin-right:20vh;
    margin-top:17vh;
}

.flex-child1:first-child {
    margin-right: 20px;
    /*background-color: rgba(255,241,250,0.8) !important;*/
    background-color:aliceblue;
    border-radius: 30px;
    height: 325px;
    margin-top: 30vh;
}

.flex-child1:last-child img{
    border-radius: 30px;
}
.flex-container1 img{
    height: 550px;
    border-radius: 30px;
    margin-left: 13vh;
}

.flex-child1 h1{
    font-size: 50px;
    margin-top: 9vh;
    justify-content: center;
    font-family:AreaNeu;
    text-align: center;
}
.flex-child1 p{
    font-size: 27px;
    justify-content: center;
    font-family:AreaNeu;
    text-align: center;
}

.flex-container2 {
    display: flex;
}

.flex-child2 {
    flex: 2;
    margin-left:20vh;
    margin-right:20vh;
    margin-top:17vh;
    margin-bottom:17vh;
}

.flex-child2:first-child {
    margin-right: 20px;
    margin-top: 150px;
}
.flex-child2:last-child p {
    border-radius: 30px;
    padding: 20px;
}

.flex-child2:first-child img {
    border-radius: 30px;
    margin-left: 11vh;
}

.flex-container2 img{
    height: 500px;
    width:auto;
}

.flex-child2 p{
    font-size: 35px;
    font-family:AreaNeu;
    text-align: center;
    margin-top:10vh;
    justify-content: space-between;
    text-justify: center;
    /*background-color: rgba(255,241,250,0.8) !important;*/
    background-color:aliceblue;
}

.flex-container3 {
    display: flex;
}

.flex-child3 {
    flex: 2;
    margin-left:20vh;
    margin-right:20vh;
    margin-bottom:11vh;
}

.flex-child3:first-child {
    margin-right: 20px;
    margin-top: 60px;
}

.flex-child3:last-child img{
    border-radius: 30px;
}

.flex-child3 p{
    font-size: 32px;
    padding: 30px;
    border-radius: 30px;
    font-family:AreaNeu;
    text-align: center;
    /*background-color: rgba(255,241,250,0.8) !important;*/
    background-color:aliceblue;
}

footer {
    margin-top: auto;
}
    
.footer-content  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e3b42;
    width: 100%;
    height: 100;
	opacity:.9;

}

.foot{
    display: flex;
    list-style: none;
    font-size: 15px;
}